X4QP H m{Bb G
	6gB4XK \YY9<
	XFg:X4K \YY9<
	C{ng4g{+K kFPV4gMF<
	QVk:g+ K Y<
	0{+4tng"F K \-CW<
	0{+4t0VQgPbK TJVPF6VbTHnV+ntnFkg0<
%
#){+4Vg+Fkt\G
	6gB4XK \YY9<
	XFg:X4K \YY9<
	C{ng4g{+K kFPV4gMF<
	mV)s:k{v+BtgQV:FK vkPETgQV:FnlmV)s:k{v+Bt\#@C:T;<
	mV)s:k{v+Btng"FK ){MFk<
	mV)s:k{v+BtC{ng4g{+K |Y9<
	Qg+tXFg:X4K I|YCW<
%
#P{:{G
	C{ng4g{+K kFPV4gMF<
	6gB4XK \3YCW<
	XFg:X4K |YCW<
	CVBBg+:tPF04K |9<
	CVBBg+:t4{CK |9<
%
#P{:{tng"FG
	QVWt6gB4XK \YY9<
	XFg:X4K Vv4{<
%
#m{kBFktm{44{QG
	C{ng4g{+K Vmn{Pv4F<
	6gB4XK \YY9<
	m{44{QK t\CW<
	PF04K YCW<
	mV)s:k{v+BtgQV:FK vkPETgQV:Fnlm{kBFktm{44{Q#C+:T;<
	mV)s:k{v+BtC{ng4g{+K )F+4Fk<
	XFg:X4K |YCW<
	mV)s:k{v+BtkFCFV4K +{tkFCFV4<
	)vkn{kK C{g+4Fk<
%
#){+4F+4t6kVCCFkG
	C{ng4g{+K kFPV4gMF<
	6gB4XK wY9<
	CVBBg+:tPF04K \Y9<
	CVBBg+:tkg:X4 KAY9<
	CVBBg+:t4{CK IFQ<
	4FW4tVPg:+K PF04<
	){P{kK 6Xg4F
%
#QVg+t4g4PFG
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	0{+4t6Fg:X4K wYY<
	0{+4tng"FK AFQ<
%
#QVg+tnvm4g4PFG
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	0{+4tng"FK \FQ<
	{CV)g4bK Y#Z<
	CVBBg+:t4{CK \#|FQ<
%
#QVg+tm{WFnG
	QVk:g+t4{CK 3FQ<
%
#m{WG
	)vkn{kK C{g+4Fk<
	6gB4XK 3AYCW<
	QVk:g+ KY Vv4{<
	CVBBg+:K #|FQ #|FQ<
	PF44FktnCV)g+:K ICW<
	0{+4t6Fg:X4K wYY<
	CVBBg+:t4{CK#wFQ<
	4FW4tVPg:+K )F+4Fk<	
	BgnCPVbK g+Pg+FtmP{)s<
	m{kBFktkVBgvnK \YCW<
	t6Fmsg4t4kV+ng4g{+K  #|n FVnFtg+t{v4<
  tQ{"t4kV+ng4g{+K 4kV+nPV4F] #|n FVnFtg+t{v4<
  t{t4kV+ng4g{+K 4kV+nPV4F] #|n FVnFtg+t{v4<
  4kV+ng4g{+K  #|n FVnFtg+t{v4<
%
#m{Wt\G
	m{kBFkK \CW n{PgB ,B3|YYY<
	mV)s:k{v+BK Pg+FVkt:kVBgF+4E4{ kg:X4H ,B3|YYYH ,00ZFYY;<
	QVk:g+tkg:X4K 3YCW<
%
#m{Wt3G
	m{kBFkK \CW n{PgB 6Xg4F<
%
#m{WKX{MFkG
	4kV+n0{kQK 4kV+nPV4F]E\YCW;<
%
#m{Wt3KX{MFkG
	mV)s:k{v+Bt){P{kK 6Xg4F<
	){P{kK mPV)s<
%
#){+4Vg+Fkt3G
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	mV)s:k{v+Bt){P{kK ,0\0YFZ<
	4FW4tVPg:+K )F+4Fk<
	){P{kK mPV)s<
	PF44FktnCV)g+:K 3CW<
	XFg:X4K \YY9<
	Qg+tXFg:X4K |YYCW<
%
#){+4Vg+Fkt6kVCCFkG
	C{ng4g{+K kFPV4gMF<
	6gB4XK wY9<
	CVBBg+:tPF04K 3Y9<
	CVBBg+:tkg:X4K 3Y9<
%
#){+4Vg+Fkt4g4PFG
	CVBBg+:t4{CK AFQ<
	0{+4tng"FK 3#|FQ<
	0{+4t6Fg:X4K /YY<
%
#){+4Vg+FktQVg+G
	CVBBg+:t4{CK 3FQ<
	0{+4tng"FK \#3FQ<
	{CV)g4bK Y#-<
	Pg+FtXFg:X4K \-Y9<
%
#m{kBFkt4{CG
	C{ng4g{+K Vmn{Pv4F<
	6gB4XK \YY9<
	4{CKt\CW<
	PF04K YCW<
	mV)s:k{v+BtgQV:FK vkPETgQV:Fnlm{kBFkt4{C#C+:T;<
	mV)s:k{v+BtC{ng4g{+K )F+4Fk<
	XFg:X4K |YCW<
	mV)s:k{v+BtkFCFV4K +{tkFCFV4<
	)vkn{kK C{g+4Fk<
%
#){+4Vg+FktAG
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	mV)s:k{v+B K vkPETgQV:FnlmV)s:k{v+Bt3#@C:T;<
	mV)s:k{v+Btng"FK ){MFk<
	mV)s:k{v+BtC{ng4g{+K |Y9<
	){P{kK 6Xg4F<
	4FW4tVPg:+K )F+4Fk<
	
%
#mg4t{0t{CV)g4bG
	{CV)g4bK Y#w<
	CVBBg+:t4{CK \FQ<
%
#6Xg4FtPg+FG
	m{kBFktm{44{QK wCW n{PgB 6Xg4F<
	4FW4tVPg:+K )F+4Fk<
	6gB4XK |YCW<
	m{kBFktkVBgvnK|CW<
	QVk:g+ K Y Vv4{<
	CVBBg+:t4{CK\#|FQ<
%
#){+4Vg+Fkt6kVCCFkt4VmPFG
	CVBBg+:t4{CK IFQ<
	C{ng4g{+K kFPV4gMF<
	6gB4XK -Y9<
	CVBBg+:tPF04K \Y9<
	CVBBg+:tkg:X4K \Y9<

%
#4VmPFt6kVCCFkG
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
%
#4VmPFt)FPPG
	0P{V4KPF04<
	6gB4XK 3Z9<
	CVBBg+:tPF04K A9<
	CVBBg+:tkg:X4K A9<
%
#Cg)tng"FG
	6gB4XK IY9<
	XFg:X4K Vv4{<
%
#)PFVkt0P{V4G
	)PFVkKm{4X<
%
#4VmPFt4g4PFG
	0{+4tng"FK \FQ<
	){P{kK 6Xg4F<
	0{+4t6Fg:X4K wYY<
	PF44FktnCV)g+:K 3CW<
	CVBBg+:t4{CK \FQ
%
#4VmPFt){+4F+4G
	CVBBg+:t4{CK\FQ<
	PF44FktnCV)g+:K\CW<
	{CV)g4bK Y#Z<
	Pg+FtXFg:X4K \IY9<
%
#nCV)FG
	CVBBg+:tm{44{QK I#|FQ<
%
#){+4Vg+FktIG
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	mV)s:k{v+Bt){P{kK ,0\0YFZ<
%
#6FgkBt){+4Vg+FkG
	C{ng4g{+K kFPV4gMF<
	CVBBg+:t4{CK IFQ<
	6gB4XK /Y9<
	CVBBg+:tkg:X4K |9<
	CVBBg+:tPF04K |9<
	4FW4tVPg:+K )F+4Fk<
		mV)s:k{v+Bt){P{kK ,0\0YFZ<
%
#X{PBtb{vkt){P{kG
	C{ng4g{+K kFPV4gMF<
	6gB4XK\YY9<
	mV)s:k{v+Bt){P{kK ,0\0YFZ<
%
#6FgkBt){+4F+4G
	C{ng4g{+K kFPV4gMF<
	CVBBg+:t4{CK AYCW<
	0P{V4K PF04<
	6gB4XK 3w9<
	CVBBg+:tPF04K 39<
	CVBBg+:tkg:X4K 39<
%
#mg:tCg)t){+4F+4G
	C{ng4g{+K kFPV4gMF<	
	0P{V4K PF04<
	6gB4XK Aw9<
	CVBBg+:tPF04K 39<
	CVBBg+:tkg:X4K 39<
%
#mg:tCg)tng"FG
	6gB4XK \YY9<
	XFg:X4K \3YYCW<
%
#nQVPPt6FgkBt){+4F+4tPF04G
	XFg:X4K 3AYCW<
	QVk:g+tm{44{QK 3AYCW<
	{CV)g4bK Y#Z<
	Pg+FtXFg:X4K \AY9<
	PF44FktnCV)g+:K \CW<
	0{+4tng"FK \FQ<
%
#nQVPPt6FgkBt4g4PFG
	0{+4tng"FK \#|FQ<
	QVk:g+tm{44{QK \YCW<
	){P{k K ,\//ZwA<
	{CV)g4bK \<
%
#nQVPPt6FgkBt){+4F+4tkg:X4G
	XFg:X4K 3AYCW<
	QVk:g+t4{CK 3AYCW<
	{CV)g4bK Y#Z<
	Pg+FtXFg:X4K \AY9<
	PF44FktnCV)g+:K \CW<
	0{+4tng"FK \FQ<
%
#PFtnPgBFnX{6G
	C{ng4g{+K kFPV4gMF<
	6gB4XK \YY9<
	XFg:X4K \YY9<
%
#V6Fn{QF'nPgBFkG
	6gB4XK \YY9<
	C{ng4g{+K kFPV4gMF<
	QVk:g+K Y Vv4{<
	4FW4tVPg:+K )F+4Fk<
	CVBBg+:t4{CK\|YCW<
	0{+4tng"FK 3YCW<
	{MFk0P{6K XgBBF+<
%
#V6Fn{QF'nPgBFk'6kVCCFkG
	C{ng4g{+K kFPV4gMF<
	6gB4XK AYY9<
	{MFk0P{6K XgBBF+<
	t6Fmsg4t4kV+ng4g{+K  \n FVnFtg+t{v4<
    tQ{"t4kV+ng4g{+K 4kV+nPV4F] \n FVnFtg+t{v4<
    t{t4kV+ng4g{+K 4kV+nPV4F] \n FVnFtg+t{v4<
    4kV+ng4g{+K  \n FVnFtg+t{v4<
%
#V6Fn{QF'nPgBFk'){+4Vg+FkG
	C{ng4g{+KkFPV4gMF<
	0P{V4K PF04<
	6gB4XK AA9<
%
oQFBgV {+Pb n)kFF+ V+B EQVWt6gB4XK\\YYCW;G
X4QPHm{BbG
	0{+4tng"FK\wCW<	
%
%
oQFBgV {+Pb n)kFF+ V+B EQVWt6gB4XK/YYCW;G
X4QPHm{BbG
	0{+4tng"FK\|CW<	
%
#){+4F+4t6kVCCFkG
	CVBBg+:K |9<
	6gB4XK /Y9<
%
#){+4Vg+Fkt6kVCCFkG
6gB4XK /Y9<
CVBBg+:K |9<
%
#mg:tCg)t){+4F+4G
	BgnCPVbK +{+F<
%
#6FgkBt){+4F+4G
	6gB4XK -Y9<
	CVBBg+:K Y \Y9<
%
#nQVPPt6FgkBt){+4F+4tPF04G
	QVk:g+tm{44{Q K YCW<
	CVBBg+:tm{44{QK AFQ<
	XFg:X4K Vv4{<
%
#nQVPPt6FgkBt){+4F+4tkg:X4G
	QVk:g+t4{CK YCW<
	CVBBg+:tm{44{QK AFQ<
	XFg:X4K Vv4{<
%
%
oQFBgV {+Pb n)kFF+ V+B EQVWt6gB4XK-YYCW;G
#4VmPFt)FPPG
	6gB4XK ZY9<
	CVBBg+:tkg:X4K \|9<
	CVBBg+:tPF04K \|9<
	CVBBg+:t4{CK 3FQ<
%
#){+4Vg+Fkt6kVCCFkt4VmPFG
	CVBBg+:t4{CK YCW<
%
%
oQFBgV {+Pb n)kFF+ V+B EQVWt6gB4XKwYYCW;G
X4QPHm{BbG
	0{+4tng"FK\ACW<	
%
#m{WG
	QVk:g+t4{CK \YCW<
%
#Cg)tng"FG
	6gB4XK |Y9<
	XFg:X4K Vv4{<
%
#){+4Vg+Fkt6kVCCFkt4VmPFG
	6gB4XK /Y9<
	CVBBg+:tPF04K |9<
	CVBBg+:tkg:X4K |9<
%

oQFBgV {+Pb n)kFF+ V+B EQVWtXFg:X4K |YYCW;G
	X4QPHm{BbG
	0{+4tng"FK\ACW<	
%

%

oQFBgV {+Pb n)kFF+ V+B EQVWt6gB4XK K 3YYCW;G
	X4QPHm{BbG
	0{+4tng"FK/CW<	
%
%
